<div class="row">
    <div class="col-md-7" ng-controller="USBController">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">USB & TTY</h3>
            </div>
            <div class="panel-body">
                <div class="center-block" ng-hide="lsusb">
                    <img class="center-block" src="img/throbber.gif">
                </div>
                <pre class="scrollable-pre" ng-show="lsusb">{{ lsusb }}</pre>

                <div class="center-block" ng-hide="availableTTYs">
                    <img class="center-block" src="img/throbber.gif">
                </div>
                <pre class="scrollable-pre" ng-show="availableTTYs">{{ availableTTYs }}</pre>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default" ng-controller="ModemController">
            <div class="panel-heading">
                <h3 class="panel-title">Modem Configuration</h3>
            </div>
            <div class="panel-body">
                <div class="well well-sm alert-danger" ng-show="loadConfigurationError">{{ loadConfigurationError }}</div>
                <div class="well well-sm alert-danger" ng-show="saveConfigurationError">{{ saveConfigurationError }}</div>
                <div class="well well-sm alert-danger" ng-show="resetConfigurationError">{{ resetConfigurationError }}</div>
                <div class="well well-sm alert-success" ng-show="savedConfiguration">Configuration saved.</div>
                <div class="well well-sm alert-success" ng-show="resetConfigurationSuccess">Configuration reset.</div>
                
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="interfaceName" class="col-sm-2 control-label">Interface Name</label>
                        <div class="col-sm-10">
                            <input type="textbox" class="form-control" id="interfaceName" placeholder="ppp0" ng-model="interface">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="protocol" class="col-sm-2 control-label">Protocol</label>
                        <div class="col-sm-10">
                            <input type="textbox" class="form-control" id="protocol" placeholder="" ng-model="protocol">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="service" class="col-sm-2 control-label">Service</label>
                        <div class="col-sm-10">
                            <input type="textbox" class="form-control" id="service" placeholder="" ng-model="service">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="device" class="col-sm-2 control-label">Device</label>
                        <div class="col-sm-10">
                            <input type="textbox" class="form-control" id="device" placeholder="/dev/ttyUSB0" ng-model="device">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apn" class="col-sm-2 control-label">APN</label>
                        <div class="col-sm-10">
                            <input type="textbox" class="form-control" id="apn" placeholder="apn.vodafone.co.uk" ng-model="apn">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="textbox" class="form-control" id="username" placeholder="Username" ng-model="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DNS" class="col-sm-2 control-label">DNS</label>
                        <div class="col-sm-10">
                            <input type="textbox" class="form-control" id="DNS" placeholder="8.8.8.8" ng-model="dns">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="peerDNS" class="col-sm-2 control-label">Peer DNS</label>
                        <div class="col-sm-10">
                            <input type="textbox" class="form-control" id="peerDNS" placeholder="8.8.8.8" ng-model="peerdns">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pppRedial" class="col-sm-2 control-label">PPP Redial</label>
                        <div class="col-sm-10">
                            <input type="textbox" class="form-control" id="pppRedial" placeholder="" ng-model="pppredial">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="defaultRoute" class="col-sm-2 control-label">Default Route</label>
                        <div class="col-sm-10">
                            <input type="textbox" class="form-control" id="defaultRoute" placeholder="" ng-model="defaultroute">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="keepAlive" class="col-sm-2 control-label">Keep Alive</label>
                        <div class="col-sm-10">
                            <input type="textbox" class="form-control" id="keepAlive" placeholder="" ng-model="keepalive">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pppdOptions" class="col-sm-2 control-label">PPPd Options</label>
                        <div class="col-sm-10">
                            <input type="textbox" class="form-control" id="pppdOptions" placeholder="" ng-model="pppdoptions">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default" ng-click="saveConfiguration();">Save</button>
                            <button class="btn btn-danger" ng-click="resetConfiguration();">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
